@import "reset";
@import "typography";


@keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg); 
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg); 
    } 
}


body {
    font-family: 'FormularLight';
    background-color: black;
    color: white;
    font-size: 16px;
    /* display:flex; */
}

a {
    text-decoration: none;
    color:white;
}

img {
    width:100%;
    height:100%;
}



/* ======================== */
/* ======== Header ======== */
/* ======================== */
header {
    position: fixed;
    top:0;
    left: 0;
    z-index: 9999;
    padding:40px 0 0 40px;

    h1,
    nav {
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        line-height: 1.2em;
        text-transform: uppercase;
        letter-spacing: .05em;
    }

    div {
        margin-bottom: 1em;
    }

    nav {
        display: flex;
        flex-direction: column;

        a {
            border-bottom: solid 1px rgba(255,255,255,.2);
            width: fit-content;
            transition: border-color 170ms ease-in-out;

            &:hover {
                border-color: rgb(255, 255, 255);
            }
        }
    }
}



/* ======================== */
/* ===== Interaction ====== */
/* ======================== */

section.logo-interaction {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    position: relative;


    div.spinner {
        animation: spin 7s linear infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 234px;
        height: 234px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        pointer-events: none;
    }

    div.smile {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 102px;
        height: 108px;
        transform: translate(-50%, -50%);
        cursor: pointer;
        pointer-events: none;
    }


}

